# applcation configurations
APP_NAME="API Presensi"
APP_MODE="development"
APP_PORT=6767
APP_URL="http://localhost"
SECRET_KEY=""

# database SQL configurations
DB_HOST="localhost"
DB_USER="root"
DB_PASSWORD=""
DB_NAME=""
WAIT_CONNECTION="true"
CONNECTION_LIMIT=10
QUEUE_LIMIT=10
KEEP_ALIVE="true"
INITIAL_DELAY=0

# CORS configurations
CORS_ORIGIN="http://localhost"
CORS_CREDENTIALS="true"

# session configurations
HTTP_ONLY=true
SECURE=false
SAME_SITE="Lax"